{% extends "::base.html.twig" %}


{% block nav %}{% endblock nav %}


{% block body %}

    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        {% image '@GitsplitWebBundle/Resources/public/img/gitsplit.png' %}
        <img src="{{ asset_url }}" alt="Example" style="width:100%" />
        {% endimage %}

        <a href="/login/github" class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i>Sign in with Github
        </a>
    </div>
    <div class="col-md-4 column">
    </div>

{% endblock body %}
