{% extends "::base.html.twig" %}


{% block nav %}{% endblock nav %}


{% block body %}

    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        {% image '@GitsplitWebBundle/Resources/public/img/gitsplit.png' %}
        <img src="{{ asset_url }}" alt="Example" />
        {% endimage %}

        <a href="/login/github" class="btn btn-social-icon btn-lg btn-twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
    <div class="col-md-4 column">
    </div>

{% endblock body %}
