{% extends "::base.html.twig" %}


{% block body %}

    <div class="jumbotron">
        <h1>
            Welcome {{ app.user.username }}
        </h1>
        <p>

        </p>
    </div>

{% endblock %}
