{% extends "::base.html.twig" %}


{% block body %}

    {% if repository.suites|length > 0 %}

        <nav class="navbar navbar-default navbar-lower" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse collapse-buttons">
                    <form class="navbar-form navbar-left" role="search">
                        {% for suite in repository.suites|reverse|slice(0, 10) %}
                            <a class="btn btn-default" href="{{ url("gitsplit_repository_view_suite", {
                                    "id": repository.id,
                                    "suiteId": suite.id
                                }) }}">
                                Suite #{{ suite.id }}
                            </a>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </nav>

    {% else %}

        <div class="jumbotron">
            <h1>
                Not suites available yet
            </h1>
            <p>
                This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Test the hook</a>
            </p>
        </div>

    {% endif %}

{% endblock %}
